.toctree-expand {
    display: none !important;
}

h1 {
    font-size: 2rem;
}

h2 {
    color: #2980B9;
}

h2~h2 {
    border-top: 1px solid #e1e4e5;
    margin-top: 3rem;
    padding-top: 2rem;
}

.wy-nav-content {
    max-width: none;
}

.wy-menu>ul>li:only-child>a {
    color: #2980B9;
    font-weight: bold;
}

.wy-menu a:active {
    background-color: #aaa;
}

.wy-side-nav-search,
body>.rst-versions,
.wy-nav-side,
.wy-menu-vertical {
    width: 310px !important;
}

.wy-nav-side {
    padding-bottom: 2.6rem
}

footer {
    font-size: 0rem;
}

footer>hr {
    display: none;
}

footer>.rst-footer-buttons {
    font-size: 1rem;
}


/*
Based on: https://github.com/highlightjs/highlight.js/commit/3e628edbe34d2ffb9166ff365f614f56621597be#diff-32b42f695d1077539c170b90483094e054cca0afef4c570eaeba60e00fe72616
*/

.hljs {
    color: #c9d1d9 !important;
    background: #0d1117 !important;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
    /* prettylights-syntax-keyword */
    color: #ff7b72 !important;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
    /* prettylights-syntax-entity */
    color: #d2a8ff !important;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
    /* prettylights-syntax-constant */
    color: #79c0ff !important;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
    /* prettylights-syntax-string */
    color: #a5d6ff !important;
}

.hljs-built_in,
.hljs-symbol {
    /* prettylights-syntax-variable */
    color: #ffa657 !important;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
    /* prettylights-syntax-comment */
    color: #8b949e !important;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
    /* prettylights-syntax-entity-tag */
    color: #7ee787 !important;
}

.hljs-subst {
    /* prettylights-syntax-storage-modifier-import */
    color: #c9d1d9 !important;
}

.hljs-section {
    /* prettylights-syntax-markup-heading */
    color: #1f6feb !important;
    font-weight: bold !important;
}

.hljs-bullet {
    /* prettylights-syntax-markup-list */
    color: #f2cc60 !important;
}

.hljs-emphasis {
    /* prettylights-syntax-markup-italic */
    color: #c9d1d9 !important;
    font-style: italic !important;
}

.hljs-strong {
    /* prettylights-syntax-markup-bold */
    color: #c9d1d9 !important;
    font-weight: bold !important;
}

.hljs-addition {
    /* prettylights-syntax-markup-inserted */
    color: #aff5b4 !important;
    background-color: #033a16 !important;
}

.hljs-deletion {
    /* prettylights-syntax-markup-deleted */
    color: #ffdcd7 !important;
    background-color: #67060c !important;
}


/* Customizations */

code.sql {
    background-color: #202746 !important;
}

code.tsx {
    background-color: #2b2b2b !important;
}